<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>Handlebars 1</title>
</head>
<body>
  <header class="navbar navbar-expand-lg navbar-light text-light bg-dark mb-5">
    <div class="container justify-content-between">
      <h1 class="navbar-brand h1 mb-0 text-light">Desafio Handlebars 1</h1>
      <ul class="navbar-nav">
        <li>
          <a class="nav-link text-light" href="/form">Formulario</a>
        </li>
        <li>
          <a class="text-light nav-link" href="/productos/vista">Productos</a>
        </li>
      </ul>
    </div>
  </header>
  <main class="container">
    {{{body}}}
  </main>
</body>
</html>